<div class="container-fluid">
  <div class="jumbotron text-center">
    <form [formGroup]="profileForm" (ngSubmit)="addData()">
      <label>
        Record:
        <input type="text" formControlName="record" />
      </label>

      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
    <!--    <h1>
          <img class="logo" src="assets/chain.png" alt="angular logo" />
          <span translate>gC</span>
        </h1>-->
    <!--    <app-loader [isLoading]="isLoading"></app-loader>-->

    <button (click)="getData()">Display Data</button>
  </div>
</div>

<div class="center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>BPM</th>
        <th>Hash</th>
        <th>Index</th>
        <th>PrevHash</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let block of blocks">
        <td>{{ block.BPM }}</td>
        <td>{{ block.Hash }}</td>
        <td>{{ block.Index }}</td>
        <td>{{ block.PrevHash }}</td>
        <td>{{ block.Timestamp }}</td>
      </tr>
    </tbody>
  </table>
</div>
